
.intro-text-margin{
	margin-top: 80px;
}

.mt-m{
	margin-top: 5%;
}

.Header-1 {
  font-family: "Poppins";
  font-size: 55.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: 2.8px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.Header-2 {
  font-family: Poppins;
  font-size: 55.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: 2.8px;
  text-align: left;
  color: rgba(21, 33, 53, 0.95);
  text-transform: uppercase;
}

.Header-2-sm {
  font-family: Poppins;
  font-size: 42.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: 2.8px;
  text-align: left;
  color: rgba(21, 33, 53, 0.95);
  text-transform: uppercase;
}

.paragraph{
 font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.53;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}

.paragraph-sm{
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}

.paragraph-dark{
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.53;
  letter-spacing: normal;
  text-align: left;
  color: rgba(21, 33, 53, 0.85);
}

.rainbow-text{
	font-family: Poppins;
	font-size: 18.5px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.59;
	letter-spacing: 4.4px;
	text-align: left;
	background:-webkit-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-o-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-moz-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#digital-venue{
	height: 443px;
	position: relative;
}

#the-world-of-ticketing{
	height: 443px;
	position: relative;
}

#the-world-of-ticketing .Header-2, #the-world-of-ticketing .paragraph-dark{
	padding-top: 80px; 
}

.net{
	background: url('../images/net.png') no-repeat top left;
	height: 100%;
	margin-left: -25%;
	width: 596px;
	position: absolute;
}

.net-reverse{
	background: url('../images/net.png') no-repeat top right;
	height: 100%;
	right: 0;
	width: 596px;
	position: absolute;
}


.net-dotted{
	background: url('../images/net-dotted.png') no-repeat top left;
	position: absolute;
	height: 125px;
	width: 125px;
	top: -120px;
}

.platonic-reverse{
    height: 581px;
    width: 404px;
    background: url(../images/Platonic-reverse.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    right: 50px;
    background-size: cover;
    margin-top: 260px;
}

#dvms-modules{
	background-color: #152135;
	padding-top: 40px;
	padding-bottom: 40px;
}

#dvms-modules .mod-row{
	border-bottom: 1px solid #2b456b;
}

.module{
	padding-top: 40px;
	padding-bottom: 40px;
}

.module h4{
  font-family: Poppins;
  font-size: 19.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.module p{
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.37;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

#showcase{
	position: relative;
	width: 100%;
	height: 546px;
	top: -90px;
}

.ipad{
	background: url('../images/ipad.png') no-repeat top left;
	position: absolute;
	width: 100%;
	height: 546px;
	transition: all 500ms linear;
	top: 0px;
}

.app-2{
	background: url('../images/app-2.png') no-repeat top left;
	width: 595px;
	height: 355px;
	position: absolute;
	left: 360px;
	transition: all 500ms linear;
	top: 1px;
}

.app-3{
	background: url('../images/app-3.png') no-repeat top left;
	width: 590px;
	height: 546px;
	position: absolute;
	left: 570px;
	top: -121px;
	transition: all 500ms linear;
}

.bounce-1{
	top: -31px;
}

.bounce-2{
	top: -31px;
}

.bounce-3{
	top: -131px;
}

#footies-solution-features .row{
	margin-top: 60px;
	margin-bottom: 60px;
}

#footies-solution-features .float-right{
	border-right: 1px solid #2b456b;
	height: 124px;
	margin-top: 20px;
}

#careers{
	background: url('../images/bg-careers.png') no-repeat top left;
	min-height: 708px;
}

#careers .inner{
	text-align: center;
	padding: 146px 0;
}

#careers .paragraph{
	font-size: 18px;
	margin-top: 50px;
}

#careers .contact-email{
	margin-top: 60px;
	width: 250px;
}


.social-media-main{
	list-style-type: none;
	margin: 30px auto;
	padding: 0;
	position: absolute;
	left: -70px;
	top: 600px;
}

.social-media-main li{
	display: table-cell;
}

.social-media-main li div{
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border: 1px solid #5ebff2;
	border-radius: 30px;
	padding-top: 7px;
}

.social-media-main li a i{
	background:-webkit-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-o-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-moz-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}


footer .social-media{
	list-style-type: none;
	margin: 30px auto;
	padding: 0;
	width: 260px;
}

footer .social-media li{
	display: table-cell;
}

footer .social-media li div{
	margin-left: 20px;
	width: 40px;
	height: 40px;
	background:-webkit-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-o-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-moz-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	border-radius: 30px;
	padding-top: 9px;
}

footer .social-media li a{
	color: #fff;
}


/*Phones*/
@media only screen and (max-width: 768px) {
	
	.mt-5{
		margin-top: 40px !important;
	}

	.pt-5, .mpt-5{
		padding-top: 40px !important;
	}

	.mpy{
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	#intro{
		margin-top: 50px;
		background: none;
	}

	.rainbow-text{
		font-family: Poppins;
		font-size: 15.5px;
	}

	.paragraph{
		font-size: 1rem;
		line-height: 2rem;
	}

	.intro-text-margin{
		margin-top: 0;
	}

	.Header-1 {
	  font-size: 35.5px;
	}

	.Header-2 {
	  font-size: 35.5px;
	}

	.Header-2-sm {
	  font-size: 35.5px;
	}


	#stadium{
		height: 350px;
		width: 350px;
		background: url("../images/stadium.png");
		background-repeat: no-repeat;
		background-position: left top;	
		background-size: contain;
		position: relative;
	}


	#stadium .a{
		width: 99px;
		height: 99px;
		background: url("../images/stadium_1.png");
		background-repeat: no-repeat;
		background-position: left top;	
		background-size: contain;
		position: absolute;
		left: 68%;
		top: 4%;
	}

	#stadium .b{
		width: 99px;
		height: 99px;
		background: url("../images/stadium_2.png");
		background-repeat: no-repeat;
		background-position: left top;	
		background-size: contain;
		position: absolute;
		top: 20px;
		left: -20px;
	}

	#stadium .c{
		width: 99px;
		height: 99px;
		background: url("../images/stadium_3.png");
		background-repeat: no-repeat;
		background-position: left top;	
		background-size: contain;
		position: absolute;
		top: 70%;
		left: 63%;
	}


	#change-your-matchday{
		margin-top: 65px;
	}

	.current-market-flaw-grphics{
		margin-top: 80px;
		background: none;
	}

	.footies-tech-solution-p{
		margin-top: 40px;
	}

	#footies-tech-solution{
		height: 230px;
	}

	#footies-solution-features .row{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#footies-solution-features .float-right{
		border-right: 0px;
		height: 124px;
		margin-top: 20px;
	}


	.net{
		background: url('../images/net.png') no-repeat top left;
		height: 200px;
		position: absolute;
		width: 100%;
	}

	#digital-venue{
		height: auto;
		position: relative;
	}

	.module {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}

	#dvms-modules .mod-row{
		border-bottom: 0px solid #2b456b;
	}

	#dvms-modules .col-md-3 img{
		margin-bottom: 20px;
	}

	.text-xs-center{
		text-align: center;
	}

	#showcase{
		position: relative;
		width: 100%;
		height: 500px;
		top: 0px;
	}


	.ipad{
		background: url(../images/ipad.png) no-repeat top left;
		position: absolute;
		width: 100%;
		height: 246px;
		transition: all 500ms linear;
		background-size: contain;
		top: 200px;
		left: 0px;
	}

	.app-2{
		background: url(../images/app-2.png) no-repeat top left;
		width: 80%;
		height: 200px;
		position: absolute;
		left: 47px;
		transition: all 500ms linear;
		top: 174px;
		background-size: contain;
	}

	.app-3{
		background: url(../images/app-3.png) no-repeat top left;
	    width: 80%;
	    height: 200px;
	    position: absolute;
	    left: 70px;
	    top: 124px;
	    transition: all 500ms linear;
	    background-size: contain;
	}

	#careers{
		margin-top: 0px;
	}

	#careers p.careers{
		color: #fff;
		font-family: "Poppins";
		font-size: 18px;
		font-weight: 300;
		line-height: 38px;
	}

	#careers .inner {
    	text-align: center;
    	padding: 100px 15px;
	}

	#careers .inner p{
		font-size: 16px;
		line-height: 30px;		
	}

	#intro{
		margin-top: 100px;
	}

	.reset-line-height{
		line-height: 1.26 !important;
	}

	.net-dotted{
		display: none;
	}

	#footies-tech-solution{
		position: relative;
		height: 800px;
		width: 100%;
		background: url("../images/footies-tech-solution-mobile.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
	}

	.platonic-reverse{
		display: none;
	}

	.current-market-flaw-bg {
    	height: 330px;
    	width: 100%;
    	left: -15px;
    	background: url("../images/current-background.png") no-repeat top right;
    }

	.social-media-main {
		display: none;
	}

	.rainbow-text{
		line-height: 1.5rem;
		font-size: 1.2rem;
	}
}


@keyframes example-one-anim-1 {
  0% {
    clip: rect(99px, 450px, 51px, 0);
  }
  5.88235% {
    clip: rect(67px, 450px, 58px, 0);
  }
  11.76471% {
    clip: rect(54px, 450px, 19px, 0);
  }
  17.64706% {
    clip: rect(44px, 450px, 111px, 0);
  }
  23.52941% {
    clip: rect(69px, 450px, 23px, 0);
  }
  29.41176% {
    clip: rect(62px, 450px, 15px, 0);
  }
  35.29412% {
    clip: rect(43px, 450px, 60px, 0);
  }
  41.17647% {
    clip: rect(68px, 450px, 100px, 0);
  }
  47.05882% {
    clip: rect(112px, 450px, 112px, 0);
  }
  52.94118% {
    clip: rect(66px, 450px, 22px, 0);
  }
  58.82353% {
    clip: rect(74px, 450px, 83px, 0);
  }
  64.70588% {
    clip: rect(73px, 450px, 110px, 0);
  }
  70.58824% {
    clip: rect(65px, 450px, 31px, 0);
  }
  76.47059% {
    clip: rect(14px, 450px, 94px, 0);
  }
  82.35294% {
    clip: rect(108px, 450px, 35px, 0);
  }
  88.23529% {
    clip: rect(81px, 450px, 37px, 0);
  }
  94.11765% {
    clip: rect(53px, 450px, 47px, 0);
  }
  100% {
    clip: rect(68px, 450px, 13px, 0);
  }
}
@keyframes example-one-anim-2 {
  0% {
    clip: rect(97px, 450px, 44px, 0);
  }
  5.88235% {
    clip: rect(98px, 450px, 51px, 0);
  }
  11.76471% {
    clip: rect(83px, 450px, 113px, 0);
  }
  17.64706% {
    clip: rect(77px, 450px, 17px, 0);
  }
  23.52941% {
    clip: rect(65px, 450px, 82px, 0);
  }
  29.41176% {
    clip: rect(29px, 450px, 21px, 0);
  }
  35.29412% {
    clip: rect(29px, 450px, 65px, 0);
  }
  41.17647% {
    clip: rect(95px, 450px, 81px, 0);
  }
  47.05882% {
    clip: rect(63px, 450px, 22px, 0);
  }
  52.94118% {
    clip: rect(16px, 450px, 43px, 0);
  }
  58.82353% {
    clip: rect(75px, 450px, 85px, 0);
  }
  64.70588% {
    clip: rect(72px, 450px, 115px, 0);
  }
  70.58824% {
    clip: rect(31px, 450px, 109px, 0);
  }
  76.47059% {
    clip: rect(23px, 450px, 81px, 0);
  }
  82.35294% {
    clip: rect(5px, 450px, 96px, 0);
  }
  88.23529% {
    clip: rect(14px, 450px, 86px, 0);
  }
  94.11765% {
    clip: rect(87px, 450px, 1px, 0);
  }
  100% {
    clip: rect(59px, 450px, 44px, 0);
    transform: translate3d(0, 0, 0);
  }
}
.example-one:before, .example-one:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}
.example-one:after {
  text-shadow: -1px 0 red;
  animation: example-one-anim-1 2s infinite linear alternate-reverse;
}
.example-one:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: example-one-anim-2 3s infinite linear alternate-reverse;
}
.reset-line-height{
	line-height: 0px;
}