body{
	background: #111a2a;
}

.nav-item-mobile{
	display: none;
}

.navbar-brand{
	width: 200px;
}

#top-bar{
	height: 36px;
	background-color: #111a2a;
}

#top-bar ul.social-media-links{
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 3px;
}

#top-bar ul.social-media-links li{
	display: table-cell;
	padding-left: 31px;
	vertical-align: middle;
}

#top-bar ul.social-media-links li a{
	font-family: "Montserrat";
	font-size: 12px;
	color: #fff;
}

#top-bar ul.social-media-links li a div{
	padding-top: 4px;
}


#top-bar ul.social-media-links li a .icon-twitter{
	background: url('../images/twitter-icon-small.png') no-repeat center center;
	height: 30px;
	width: 26px;
}

#top-bar ul.social-media-links li a .icon-facebook{
	background: url('../images/facebook-icon.png') no-repeat center center;
	height: 30px;
	width: 26px;
}

#top-bar ul.social-media-links li a .icon-instagram{
	background: url('../images/instagram-icon.png') no-repeat center center;
	height: 30px;
	width: 26px;
}

#top-bar ul.social-media-links li a .icon-youtube{
	background: url('../images/youtube-icon.png') no-repeat center center;
	height: 30px;
	width: 26px;
}

#top-bar ul.social-media-links li a .icon-twitter:hover{
	background: url('../images/twitter-icon-hover.png') no-repeat center center;
}

#top-bar ul.social-media-links li a .icon-facebook:hover{
	background: url('../images/facebook-icon-hover.png') no-repeat center center;
}

#top-bar ul.social-media-links li a .icon-instagram:hover{
	background: url('../images/instagram-icon-hover.png') no-repeat center center;
}

#top-bar ul.social-media-links li a .icon-youtube:hover{
	background: url('../images/youtube-icon-hover.png') no-repeat center center;
}

nav.navbar{
	height: 98px;
}

.navbar-expand-sm .navbar-nav li{
	height: 98px;
	text-align: center;
	vertical-align: middle;
	line-height: 78px;
}
.navbar-expand-sm .navbar-nav li:last-child{
	padding-right: 0px;
}

.navbar-expand-sm .navbar-nav li:hover{
	background-color: #101829;
	border-bottom: 2px solid #5a64ed;
}

.navbar-expand-sm .navbar-nav .nav-link{
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	font-size: 13.5px;
	text-transform: capitalize !important;
	font-family: "Montserrat";
	
}

.navbar-expand-sm .navbar-nav li:last-child a{
	padding-right: 0px;
}

#intro{
	min-height: 1165px;
	height: auto;
	width: 100%;
	background: url("../images/intro.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

#intro .intro-text{
	font-family: "Montserrat";
	font-size: 2.5em;
	color: #fff;
	font-weight: 700;
	margin-top: 15%;
	text-transform: uppercase;
	line-height: 50px;
}

#intro .slogan{
	margin-top: 5%;
	font-family: "Montserrat";
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 6px;
	background:-webkit-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-o-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-moz-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.watermark{
}
.watermark h1{
	font-size: 230px !important;
	font-family: "Montserrat";
	font-weight: 800;
	text-align: center;
	color: #88c0ef;
	text-transform: uppercase;
	opacity: 0.1;
	letter-spacing: 12px;
	line-height: 30px;
	padding: 0;
	margin: 0;
}

#features-included{
	position: relative;
	margin-top: 130px;
	background: none;
}


#features-included h3{
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: bold;
}

.features .feature-boxes{
	margin-top: 80px;
}

.features-list-bg{
	background-color: #fff;
	padding-top: 80px;
}

.features .box{
	margin-bottom: 45px;
	height: 425px;
	border-radius: 50px;
	background-color: #fff;
    box-shadow: 4px 4px 30px #f1f1f1;
}

.features .box .head{
	height: 160px;
	padding: 0 40px;
}

.features .box .head h4{
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 3px;
}

.features .box .description{
	margin-top: 60px;
}

.features .box .description p{
	padding: 0px 40px;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 300;
}

.gradient-text{
	background:-webkit-linear-gradient(0deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-o-linear-gradient(0deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:-moz-linear-gradient(0deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	background:linear-gradient(0deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.debug{
	border: 1px solid red;
}

#about{
	min-height: 1520px;
	background: url("../images/players-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 40px;
}

#about p.about-us{
	color: #fff;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 300;
	line-height: 38px;
	margin-top: 230px;
}

@media only screen and (min-width: 1200px) {
	#ipad{
		position: absolute;
		margin-left: -60%;
		margin-top: 4%;
		z-index: 100;
	}

	#careers{
		margin-top: 300px;
	}

	#careers p.careers{
		color: #fff;
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: 300;
		line-height: 38px;
	}

}

@media only screen and (max-width: 1199px) {
	#ipad{
		margin-left: -50%;
		margin-top: 5%;
		z-index: 100;
	}
	#ipad img{
		width: 100%;
	}

	#careers{
		margin-top: 100px;
	}

	#careers p.careers{
		color: #fff;
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: 300;
		line-height: 38px;
	}

}

#change-your-matchday{
	margin-top: 150px;
	min-height: 767px;
	height: auto;
	width: 100%;
	background: url("../images/current-background.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 37%;
}

#change-your-matchday p{
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

.footies-tech-solution-p::after{
	content: '';
	position: absolute;
	height: 265px;
	margin-top: -130px;
	width: 100%;
	z-index: -1;
	background-image: -webkit-linear-gradient(99deg, #ffffff 50%, #12192b 50%);
}

.current-market-flaw-grphics{
	height: 554px;
	width: 100%;
	background: url("../images/current-flaw.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 135%;
}


#footies-tech-solution-wrapper{
	margin-top: -135px;
	position: relative;
	height: 265px;
	z-index: 99;
	background-color: #34ADFF;
	background-image: -webkit-linear-gradient(99deg, #ffffff 50%, #12192b 50%);
}

#footies-tech-solution{
	position: relative;
	z-index: 999;
	margin-top: -20px;
	height: 700px;
	width: 100%;
	background: url("../images/footies-tech-solution.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 100px;
}

#footies-tech-solution p{
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	position: absolute;
	z-index: 103;
}


#change-your-matchday .change-your-matchday-economics-graphics{
	padding-top: 30px;
}

#team{
	background-color: #fff;
}

.title{
	color: #323843;
	font-family: "Montserrat";
	font-size: 40px;
	font-weight: 700;
}


.title-l{
	font-family: "Montserrat";
	font-size: 51px;
	font-weight: 700;
}

.white{
	color: #fff;
}

#team .team-member{
	padding: 60px 0;
	border-bottom: 1px solid #eeeeee;
	width: 96%;
}

#team .team-member .info{
	margin: 25px 0 0 30px;
}


#team .team-member .hr{
	padding-top: 50px;
}

#team .team-member .name{
	margin-top: 0px;
	color: #323843;
	font-family: "Montserrat";
	font-size: 30px;
	font-weight: 700;	
	line-height: 30px;
}

#team .team-member .position{
	margin-top: 5px;
	color: #323843;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 400;	
	line-height: 18px;
	margin-top: 15px;
}

#team .team-member ul.social-media-icons{
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

#team .team-member ul.social-media-icons li{
	display: table-cell;
	padding-right: 25px;
}


#team .team-member ul.social-media-icons li a .icon-twitter{
	background: url('../images/twitter-icon.png') no-repeat;
	height: 21px;
	width: 26px;
}

#team .team-member ul.social-media-icons li a .icon-linkedin{
	background: url('../images/in-icon.png') no-repeat;
	height: 21px;
	width: 26px;
}

#team .team-member ul.social-media-icons li a .icon-twitter:hover{
	background: url('../images/twitter-hover.png') no-repeat;
	height: 21px;
	width: 26px;
}

#team .team-member ul.social-media-icons li a .icon-linkedin:hover{
	background: url('../images/in-hover.png') no-repeat;
	height: 21px;
	width: 26px;
}

#contact{
	background: #12192b;
	height: auto;
	padding-bottom: 100px
}

#contact h1{
	color: #fff;
	font-family: "Montserrat";
	font-size: 40px;
	font-weight: 700;
}

#contact .contact-form{
	margin-top: 30px;
}


.contact-email{
	margin-top: 20px;
}

.contact-email .bubble{
	width: 80px;
}

.contact-email .email{
	padding-left: 30px;
}

.contact-email p{
	padding-top : 30px;
}

.contact-email p a{
	color: #fff;
	font-family: "Montserrat";
	font-size: 17px;
	font-weight: 400;
}

#contact .contact-form .form-control{
	padding: 10px 20px;
	background-color: #142030;
	margin-bottom: 20px;
	font-family: "Montserrat";
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	border: 1px solid #142030;
}

#contact .contact-form .form-control::placeholder{
	color: #f9f9f9;
}


.diag{
	height: 180px;
	background-color: #34ADFF;
	background-image: -webkit-linear-gradient(85deg, #12192b 50%, #fff 50%);
}

.diag-rev{
	height: 180px;
	background-color: #34ADFF;
	background-image: -webkit-linear-gradient(96deg, #ffffff 50%, #12192b 50%);
}

.lift-up-30{
	margin-top: -30px;
}
.bg-white{
	background-color: #fff;
}
.grad-div{
	height: 3px;
	width: 135px;
	background: rgba(96,81,234,1);
	background: -moz-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,81,234,1)), color-stop(100%, rgba(94,190,242,1)));
	background: -webkit-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: -o-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: linear-gradient(to right, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6051ea', endColorstr='#5ebef2', GradientType=1);
	margin: 15px 0;
}

.rev-grad-div{
	height: 3px;
	width: 135px;
	background: rgba(96,81,234,1);
	background: -moz-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,81,234,1)), color-stop(100%, rgba(94,190,242,1)));
	background: -webkit-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: -o-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	background: linear-gradient(to right, rgba(96,81,234,1) 0%, rgba(94,190,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6051ea', endColorstr='#5ebef2', GradientType=1);
	margin: 15px 0;
}

.btn-footies{
	border-radius: 40px;
	font-family: "Montserrat";
	font-size: 13.5px;
	font-weight: 700;
	padding: 13px 45px;
	letter-spacing: 1px;
	background: linear-gradient(to bottom, rgba(94,190,242,1) 0%, rgba(97,83,234,1) 100%);
	color: #fff;
	border: 0px;
}

.request-a-demo{
	margin-top: 7%;
}

.request-a-demo-btn{
	font-size: 16px;
	text-transform: uppercase;
}

.request-a-demo-btn:hover{
	-webkit-box-shadow: 0px 2px 30px 0px rgba(255, 255, 255, 0.40);
	-moz-box-shadow:    0px 2px 30px 0px rgba(255, 255, 255, 0.40);
	box-shadow:         0px 2px 30px 0px rgba(255, 255, 255, 0.40);
}

footer{
	background-color: #030a1d;
	height: 100px;
}

footer img{
	padding-top: 10px;
}
footer .copyright{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	padding-top: 25px;
	letter-spacing: 2px;
}

@media only screen and (max-width: 992px) {

	.navbar-brand{
		width: 150px;
	}

	.watermark h1{
		font-size: 10em !important;
	}

	nav.navbar{
		height: 78px;
	}

	.navbar-expand-sm .navbar-nav li{
		height: 78px;
		line-height: 58px;
	}

	.navbar-expand-sm .navbar-nav .nav-link{
		padding-left: 15px;
		padding-right: 15px;
		font-size: 12.5px;
	}
}


/*Phones*/
@media only screen and (max-width: 768px) {
	 .fixedPosition
	 {
	    position: fixed;
	 }
	.navbar{
		align-items: flex-start !important;
	}
	
	button.navbar-toggler{
		border: 0 !important;
	}
	
	button[aria-expanded="false"] > .navbar-toggler-icon{
		background: url("../images/hamburger.png") no-repeat center center !important;
		background-size: contain;
		border: 0px;
	}	

	button[aria-expanded="true"] > .navbar-toggler-icon{
		background: url("../images/exit.png") no-repeat center center !important;
		background-size: contain;
	}	

	.navbar-collapse{
		position: relative !important;
		background: #111a2a;
		z-index: 9999;
		margin-top: 25px;
	}

	.navbar-collapse ul.navbar-nav li{
		border-bottom: 1px solid #030a1d;
		text-align: left;
	}

	.navbar-collapse ul.navbar-nav li:last-child{
	}

	.navbar-collapse ul.navbar-nav li a{
		font-family: "Montserrat";
		font-size: 15px;
	}

	.nav-item-mobile{
		display: block;
	}

	.nav-item-mobile .social-media-links{

	}


	.nav-item-mobile ul.social-media-links{
		display: table;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 3px;
		width: 100%;
	}

	.nav-item-mobile ul.social-media-links li{
		display: table-cell;
		padding-left: 31px;
		vertical-align: middle;
		border-right: 1px solid #030a1d;
		border-bottom: 0px;
	}

	.nav-item-mobile ul.social-media-links li:last-child{
		border-right: 0px;
	}

	.nav-item-mobile ul.social-media-links li a{
		font-family: "Montserrat";
		font-size: 12px;
		color: #fff;
	}

	.nav-item-mobile ul.social-media-links li a div{
		padding-top: 4px;
	}


	.nav-item-mobile ul.social-media-links li a .icon-twitter{
		background: url('../images/twitter-icon-hover.png') no-repeat center center;
		height: 30px;
		width: 26px;
	}

	.nav-item-mobile ul.social-media-links li a .icon-facebook{
		background: url('../images/facebook-icon-hover.png') no-repeat center center;
		height: 30px;
		width: 26px;
	}

	.nav-item-mobile ul.social-media-links li a .icon-instagram{
		background: url('../images/instagram-icon-hover.png') no-repeat center center;
		height: 30px;
		width: 26px;
	}

	.nav-item-mobile ul.social-media-links li a .icon-youtube{
		background: url('../images/youtube-icon-hover.png') no-repeat center center;
		height: 30px;
		width: 26px;
	}



	.watermark h1{
		font-size: 5em !important;
	}

	nav.navbar{
		height: 78px;
	}
	
	.navbar-expand-sm .navbar-nav li{
		height: 78px;
		line-height: 58px;
	}

	.navbar-expand-sm .navbar-nav .nav-link{
		padding-left: 7px;
		padding-right: 7px;
		font-size: 12.5px;
	}


	.watermark h1{
		font-size: 2.5em !important;
		letter-spacing: 2px;
	}
	#intro-mobile{
		background-color: #111a2a;
	}


	.mobile-bg{
		background-color: #fff !important;
	}

	.team-member-avatar{
		width: 27%;
	}

	.team-member-avatar img{
		width: 100%;
	}
	
	#team .team-member{
		padding: 30px 0;
	}
	.team-member .name{
		font-size: 105% !important;
	}
	.team-member .position{
		font-size: 63% !important;		
		margin: 0 !important;
		padding: 0;
	}

	#team .team-member .info{
		margin: 5% 0 0 10px;
	}

	#team .team-member ul.social-media-icons{
		margin-top: 5px !important;
	}


	#about p.about-us{
		margin-top: -60px;
		color: #fff;
		font-family: "Montserrat";
		font-size: .85rem;
		font-weight: 300;
		line-height: 28px;
	}

	#careers{

	}

	#careers p.careers{
		margin-top: 50px;
		color: #fff;
		font-family: "Montserrat";
		font-size: .85rem;
		font-weight: 300;
		line-height: 28px;
		margin-top: 5% !important;
	}

	#about{
		min-height: 1020px;
		background-image: url("../images/bg-careers-mobile.png");
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;
		margin-top: -70%;
		padding-top: 220px;
	}
	
	.title-large-mobile{
		font-size: 2.7rem !important;
	}

	.sm-lbp{
	}

	#ipad {
	    margin-left: 0%;
	    z-index: 100;
	    position: relative;
	    z-index: 500;
	}
	
	#smart-ticketing{
		margin-top: -60px;
	}

	#intro-mobile{
		position: relative;
		z-index: 999;
	}

	#intro-mobile .intro-text{
		font-family: "Montserrat";
		font-size: 1.7rem;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 35px;
	}

	#intro-mobile .slogan{
		margin-top: 20px;
		font-family: "Montserrat";
		font-size: .65rem;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 3px;
		background:-webkit-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
		background:-o-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
		background:-moz-linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
		background:linear-gradient(3deg, rgb(97, 81, 234) 0%, rgb(94, 191, 242) 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	#intro-mobile #product{
		margin-top: -60px;
	}

	#solution{
		margin-top: 30px;
	}

	.request-a-demo{
		margin-top: 20px;
	}

	.request-a-demo-btn{
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.title{
		font-size: 1.4rem;
		letter-spacing: 1px;
	}

	#change-your-matchday-economics .change-your-matchday-economics-graphics{
		padding-top: 30px;
	}

	#change-your-matchday-economics p, #current-market-flaw p{
		color: #fff;
		line-height: 25px;
		font-size: .75rem;
		font-family: "Montserrat";
		font-weight: 300;
		color: #fff;
		padding: 0;
		margin-bottom: 10px;
	}
	
	.footies-tech-solution-wrapper{
		position: relative;
		height: 265px;
		z-index: -1;
		background-image: -webkit-linear-gradient(99deg, #ffffff 50%, #12192b 50%);
		margin-top: -200px;
	}

	.footies-tech-solution-wrapper-rev{
		position: relative;
		height: 265px;
		z-index: -1;
		background-image: -webkit-linear-gradient(99deg, #12192b 50%, #ffffff 50%);
		margin-top: -200px;
	}

	#features-included{
		margin-top: -70px;
		z-index: 999;
	}

	.features .box{
		height: 220px;
	}	

	.features .box .head{
		height: 100px;
	}
	
	.features .box .description{
		margin-top: 0px !important;
	}

	.features .box .description p{
		font-size: .9rem;
	}

	.features .box .head img{
		width: 40%;
	}

	.features-list-bg{
		background-color: #fff;
		padding-top: 40px;
	}
	
	footer{
		height: 70px;
	}
	footer img{
		width: 40%;
	}

	footer .copyright{
		font-size: 12px;
	}

}

.the-watermark{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 7%;
	font-size: 7rem;
}

.the-watermark::before{
	content: attr(title);
	color: #2e3a4f;
	font-family: "Montserrat";
	font-weight: 800;
	text-transform: uppercase;
	opacity: 0.1;
}

.relative{
	position: relative;
}

